requests
langchain
streamlit
streamlit-chat-media
numpy
retry
duckduckgo-search
transformers
tabulate
wikipedia
faiss-gpu # if u have a GPU
#faiss-cpu # if u dont have a GPU
nest_asyncio
torch
# tensorflow >= 2.0 -- For other future models
# flax -- For other future models
pytest-playwright
undetected-chromedriver>=3.2.1
markdownify>=0.11.6
hugchat
python-dotenv
EdgeGPT
GoogleBard
lark
accelerate
diffusers
